.calculator {
    /* margin: auto; */
    height: 450px;
    width: 450px;
    padding: 30px;
    border-radius: 4rem;
    background-color: blue;
}

.display-box {
    background-color:white;
    color: black;
    width: 100%;
    height: 60%;
    border: solid black 0.5px;
    border-radius: 5px;
}

#btn {
    background-color: black;
}

input[type=button] {
    background-color: black;
    color: white;
    border: solid black 0.5px;
    width: 90%;
    border-radius: 5px;
    height: 70%;
    outline: none;
}
